$success: #4caf50;
$info: #2196f3;
$danger: #f44336;
$warning: #ff5722;

$box-shadow: 0 1px 2px 0 rgba(0,0,0,.16),0 1px 2px 0 rgba(0,0,0,.12);

$font-thin: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;